<div class="row mt-5">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form #loginForm = 'ngForm' (ngSubmit) = "onLogin(loginForm)" >
        <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" required ngModel name="email">
        </div>

        <div class="form-group col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" required ngModel name="password">
          <!-- <span class="error-block" *ngIf="password.valid">
            Your password must have lower case, upper case and numeric characters.

          <span class="error-block" *ngIf="password.errors?.passwordStrength">
            Your password must have lower case, upper case and numeric characters.
          </span>
        </span> -->
        </div>

        <div class="form-group col-12">
          <button [disabled] ="!loginForm.valid" class="btn btn-primary">Login</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
